body, div.container, div.row {
  background-color: lightslategray;
  height: 100%;
  margin: 0;
  padding: 0;
}

div#map {
  padding: 20px;
  overflow: hidden;
  height: 100%;
  min-height: 400px;
  max-height: 600px;
}

button {
width: 100%;
}