body, div.container, div.row {
  background-color: lightslategray;
  height: 100%;
  margin: 0;
  padding: 0;
}

div#map {
  overflow: unset;
  min-height: 400px;
  max-height: 600px;
  height: 400px;
  width: 600px;
}
button {
width: 100%;
}