<div class="jumbotron">
  <h1 style="color: white; text-align:center">YoYoCoyote</h1>

</div>

<div class="container">
  
  <div class="row">
    <div class="col-lg-2">
      <ul>
        {{#each coyotes}}
        <li>
          <p>
            {{this.id}}. {{this.coyoteName}}

            <button data-coyotid="{{this.id}}" class="eatcoyote btn btn-warning">Deactivate</button>
          </p>
        </li>
        {{/each}}
      </ul>
    </div> {{!--end of column 1--}}
    <div class="col-lg-10">
      
      {{!-- <div class="row"> --}}
      {{!-- </div> --}}
        <button type="submit" class="btn btn-danger" id="coyoteButton">Report a Coyote Sighting!</button>
    <div id="map" style="height: 100%;"></div>
    
    </div>
    
  </div> {{!--end of row--}}

</div> {{!-- end of container --}}
<script>

</script>
<script type="text/javascript">

    var long, lat, coyoteCount;
navigator.geolocation.getCurrentPosition((pos)=>{
long = pos.coords.longitude;
lat = pos.coords.latitude;

async function initMap() {
    // The location of Uluru
    let position = { lat: lat, lng: long };
    // Request needed libraries.
    //@ts-ignore
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

    // The map, centered at Uluru
    map = new Map(document.getElementById("map"), {
      zoom: 13,
      center: position,
      mapId: "DEMO_MAP_ID",
    });

    // The marker, positioned at Uluru
  

    $.ajax("/coyotes", {
      type: "GET",
    }).then((coyotes) => {
      coyoteCount = coyotes.length;

      coyotes.forEach((coyote, i) => {
          new AdvancedMarkerElement({
            map: map,
            position: {
              lat: coyote.latitude,
              lng: coyote.longitude
            },
            title: coyote.coyoteName
          })

      })
      map.center={lat: coyote.latitude, lng: coyote.longitude};
    })
  }

  



 
  // add coyotes
  $("#coyoteButton").on("click", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();


    var newcoyote = {
      coyoteName: `coyote${coyoteCount}`,
      longitude: long,
      latitude: lat,
      dtime: Date.now(),
      active: true
    };

      // Send the POST request.
      $.ajax("/coyotes", {
        type: "POST",
        data: newcoyote
      }).then(
        function () {
          console.log("added new coyote");
          // Reload the page to get the updated list
          initMap();
        }
      );
})


   initMap();
  });
/*
    $("#updatecoyote").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      var id = $("[name=id]").val().trim();
  
      var updatedcoyote = {
        coyote: $("#updatecoyote [name=coyote]").val().trim()
      };
  
      // Send the PUT request.
      $.ajax("/coyotes/" + id, {
        type: "PUT",
        data: updatedcoyote
      }).then(
        function() {
          console.log("updated id ", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
    */
</script>

{{!-- <style>
    div#map {
  height: 100%;
  overflow: unset;
  position: absolute;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>> --}}