<header>
  <nav>
            <ol>
                <li><Link to="/" className="nav-item">Homepage</Link></li>
                <li><Link to="/about" className="nav-item">About</Link></li>
                <li><Link to="/track" className="nav-item">Menu</Link></li>
                <li><Link to="/report" className="nav-item">Reservations</Link></li>
                <li><Link to="/login" className="nav-item">Login</Link></li>
            </ol>
        </nav>
</header>

<div class="container">
  
  <div class="row">
    <div class="col-lg-2">
      {{!-- <ul>
        {{#each coyotes}}
        <li>
          <p>
            {{this.id}}. {{this.coyoteName}}

            <button data-coyotid="{{this.id}}" class="eatcoyote btn btn-warning">Deactivate</button>
          </p>
        </li>
        {{/each}}
      </ul> --}}
    </div> {{!--end of column 1--}}
    <div class="col-lg-10">
      
      {{!-- <div class="row"> --}}
      {{!-- </div> --}}
        <button type="submit" class="btn btn-danger" id="coyoteButton">Report a Coyote Sighting!</button>
    <div id="map" style="height: 100%;"></div>
    
    </div>
    
  </div> {{!--end of row--}}

</div> {{!-- end of container --}}
<script>

</script>
<script type="text/javascript">

    var longitude, latitude, coyoteCount;



  

  


async function initMap() {
  console.log(location);
  let newLocation = await getLocation();
  console.log(newLocation);
    //@ts-ignore
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    // The map, centered at Uluru
    map = new Map(document.getElementById("map"), {
      zoom: 14,
      center: { lat: parseFloat(latitude), lng: parseFloat(longitude) },
      mapId: "coyoteMap",
    });

    // The marker, positioned at Uluru
  

    $.ajax("/coyotes", {
      type: "GET",
    }).then((coyotes) => {
      coyoteCount = coyotes.length;

      coyotes.forEach((coyote, i) => {
        console.log(coyote)
          new AdvancedMarkerElement({
            map: map,
            position: {
              lat: coyote.latitude,
              lng: coyote.longitude
            },
            title: coyote.coyoteName
          })

      })
    })
  }

  
async function getLocation(){
    navigator.geolocation.getCurrentPosition((pos)=>{
    longitude = pos.coords.longitude;
    latitude = pos.coords.latitude;
    window.localStorage.setItem('long', longitude);
    window.localStorage.setItem('lat', latitude);
    return latitude && longitude;
})
}


 
  // add coyotes
  $("#coyoteButton").on("click", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

navigator.geolocation.getCurrentPosition((pos)=>{
longitude = pos.coords.longitude;
latitude = pos.coords.latitude;
  });

if(latitude && longitude){
    var newcoyote = {
      coyoteName: `coyote${coyoteCount+1}`,
      longitude: longitude,
      latitude: latitude,
      dtime: Date.now(),
      active: 1
    };

      // Send the POST request.
      $.ajax("/coyotes", {
        type: "POST",
        data: newcoyote
      }).then(
        function (response) {
          console.log("added new coyote");
          console.log(response);
          // Reload the page to get the updated list
          latitude = response.latitude;
          longitude = response.longitude;
          initMap(getLocation());
        }
      );
    }
  })

initMap(getLocation())

/*
var callbacks = $.Callbacks();
callbacks.add(getLocation);
callbacks.fire();
callbacks.add(initMap);
callbacks.fire();

/*
   $.when( getCurrentLocation() ).done((a)=>{console.log(a)})
    $("#updatecoyote").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      var id = $("[name=id]").val().trim();
  
      var updatedcoyote = {
        coyote: $("#updatecoyote [name=coyote]").val().trim()
      };
  
      // Send the PUT request.
      $.ajax("/coyotes/" + id, {
        type: "PUT",
        data: updatedcoyote
      }).then(
        function() {
          console.log("updated id ", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
    */
</script>

{{!-- <style>
    div#map {
  height: 100%;
  overflow: unset;
  position: absolute;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>> --}}