body, div.container, div.row {
  background-color: lightslategray;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ol {
  display:flex;
  flex-direction:row;
  flex-grow: auto;
  list-style:none;
  padding:10px
}

ol li {
  padding: 10px;
  margin: 10px;
}

div#map {
  padding: 20px;
  overflow: hidden;
  height: 100%;
  min-height: 400px;
  /* max-height: 600px; */
  top: 0px;
  position: relative;
  /* height: 1000px; */
  margin: 0px 10px 0px 10px;
}

button {
width: 100%;
}