  div#map {
  height: 100%;
  overflow: unset;
  position: absolute;
  border: blue 2px solid;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
}

nav ol {
  
}

gmp-advanced-marker {
  background-color: yellow;
}